@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body{
    font-family: "Parkinsans", sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .background {
    background: url('/images/carousel/jodie-walton-thm-jF3JR3w-unsplash.jpg')no-repeat center center/cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    position: relative;
  }
  
  .logo img {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin: 15px 0;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .checkbox input {
    margin-right: 10px;
  }
  
  /* Button */
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-brand--darker);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .login-button:hover {
    background-color: var(--color-brand--1);
  }
  
  /* Password Recovery */
  .recovery {
    margin-top: 10px;
  }
  
  .recovery{
    color: rgb(107, 78, 255);
    text-decoration: none;
    font-size: 14px;
  }
  
  .recovery a:hover {
    text-decoration: underline;
  }

  .SignUp{
    color: rgb(107, 78, 255);
    text-decoration: none;
    font-size: 14px;
  }

  .SignUp:hover{
    text-decoration: underline;
  }

  .BackToHomepageBtn{
    position: absolute;
    border: none;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    background: none;
    transition: all 0.2s;
    z-index: 3;
    left: 5px;
    top: 5px;  
  }

  .BackToHomepageBtn ion-icon{
    font-size: 22px;
  }

  .BackToHomepageBtn:hover{
    background-color: var(--color-light--1);
    cursor: pointer;
  }
  